  /* nav bar */
  .nav-bar-nav {
    padding: 0 100px; 
    position: fixed;
    z-index: 1;
    background-color: inherit;
    width: 100%;
  }
  .nav-bar-list {
    display: inline-block;
    height: 56px;
    padding: 0;
    margin: 0;
  }
  .nav-bar-link {
    line-height: 56px;
    display: inline-block;
    margin: 0 16px;
  }
  
  .nav-left-home {
    float: left;
    display: inline-block;
  }
  
  .nav-right-home {
    float: right;
    display: inline-block;
  }
  
  .nav-bar-link > a {
    color: lightpink;
    font-size: 18px;
  }
  
  .nav-bar-link > a:hover,
  .nav-bar-link  > a:focus,
  .nav-bar-link > a:active {
    color: steelblue;
    text-decoration: none;
  }
  
  #nav-bar-link-name {
    float: left;
    margin: 0 16px 0 0 ;
  }

  .nav-bar-nav.scrolled {
    background-color: inherit;
  }

@media screen and (max-width: 600px) {
  .nav-bar-nav {
    padding: 0 16px;
  }

  .nav-bar-link {
    line-height: 56px;
    display: inline-block;
    margin: 0 8px;
    float: none;
  }
}

  /* footer */
  .contact-footer {
    text-align: center;
    padding-bottom: 56px;
    margin-top: 32px;
  }
  /* .footer-description {
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0;
  } */

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#heart-beat{
  color: lightpink;
  animation: heartBeat 2s infinite;
}