/* GLOBAL STYLES */
* {
    font-family: 'DM Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
  }
  
  .container-fluid.main-body {
    padding: 0;
  }
  
  /* INDEX PAGE  */
  h1.bold {
    font-weight: 700;
  }
  
  .description-main {
    max-width: 780px;
    padding-top: 100px;
    margin: auto;
  }
  
  .about-me-section {
    max-width: 600px;
  }
  
  .index-heading {
    font-size: 28px;
    font-weight: 400;
  }
  
  .index-description {
    font-size: 1.25em;
    font-size: 20px;
    padding: 8px 0;
  }
  
  .index-sub-description {
    font-size: 16px;
    padding-bottom: 20px;
  }
  
  /* WORK SECTION */
  .section-heading {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 24px;
  }
  
  .project-wrapper{
    max-width: 780px;
    margin: auto;
    padding-top: 80px;
  }
  
  /* WORK PROJECT CARD */
  
    .row.design-row {
      border: 1px solid #eee;
      border-radius: 4px;
      cursor: pointer;
      padding: 16px;
      margin-bottom: 24px;
      position: relative;
      top: 0;
      transition: top ease 0.5s;
    }
  
    .design-row:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03); /** TODO */
      top: -10px;
    }
  
    .project-image-container {
      padding: 0;
  
    }
  
    .project-information {
      padding: auto 0;
    }
  
    .design-date {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
    }
  
    .design-title {
      font-size: 20px;
      font-weight: 700;
      margin: 4px 0 0;
    }
  
    .design-description {
      font-size: 16px;
      margin: 8px 0 8px;
      line-height: 24px;
      font-weight: 400;
    }
  
    .project-information {
      background-color: transparent;
      margin: 0 12px 0 0;
      /* color: black; */
      border-radius: 2px;
      font-size: 11px;
      display: inline-block;
      padding: 4px 8px;
    }

    #project-button{
      background-color: #80CED7;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      border-radius: 12px;
    }

    #project-button:hover{
      background-color: lightpink;
      border-color: white;
    }

  a.link-underline {
    text-decoration: underline;
  }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    color: #46B1C9;
    outline: none;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .intro-wrapper {
    padding-top: 100px;
  }
  
  i {
    color: lightpink;
    padding-right: 16px;
  }
  
  i:hover,
  i:active,
  i:focus {
    cursor: pointer;
    outline: none;
  }
  #icon-transform{
    transition: transform 0.5s;
  }
  #icon-transform:hover{
    transform: scale(1.25);
    color: #3581B8;
  }
  
  .row {
    margin: 0;
  }
  
  /* about me section */
  .about-me-section{
    padding-top: 30px;
    margin: auto;
  }

  .about-description{
    font-size: 1.25em;
    font-size: 18px;
    padding: 8px 0;
  }

  #my-picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  @media screen and (max-width: 768px){
    .index-heading{
      font-size: 26px;
    }
    .description-main{
      padding-top: 20px;
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .nightmode{
    color: white;
    background-color: rgb(80, 102, 128);
    transition: 1s all ease;
  }

  /* picture margins */
  #cononco-picture{
    margin-top: 50px;
  }

  #lspace-pic{
    margin-top: 15px;
    margin-left: 60px;
    height: 210px;
  }

  #fullhouse-pic{
    margin-top: 13px;
  }