<g class="comic-costume calvin" stroke="#292323" stroke-width="1.2" stroke-linejoin="round">
  <path fill="#e94b3c" d="M-7-5L7-5L9 15H-9Z"/>
  <path class="comic-detail" d="M-7 0H7M-8 5H8M-8 10H8"/>
  <path fill="#252529" d="M-9 14H9L8 20H1L0 17L-1 20H-8Z"/>
  <ellipse fill="#ffdab0" cy="-15" rx="10" ry="10"/>
  <path fill="#ffcf3f" d="M-10-15L-13-23L-8-21L-9-29L-3-25L0-31L3-25L9-29L8-23L13-23L10-15L7-21L3-19L0-23L-4-19L-8-21Z"/>
  <path class="comic-detail" d="M-5-16V-14M4-16V-14M-3-9Q1-6 5-10"/>
</g>
