<g class="comic-costume scooby" stroke="#33251f" stroke-width="1.2" stroke-linejoin="round">
<path style="fill:none;stroke:#ab703e;stroke-width:4" d="M6 14Q24 25 20 4"/>
<path style="fill:#ab703e" d="M-6-7Q-11 4-7 20H8Q12 3 5-7Z"/>
<path style="fill:#302820" d="M-8 3L-4 1L-3 6L-7 8ZM6 12L9 10L9 16L5 17Z"/>
<path style="fill:#ab703e" d="M-8-19L-12-34L-5-29L-2-23L4-24L9-34L12-31L10-15L8-6L-6-7Z"/>
<path style="fill:#d1a06b" d="M-5-15Q6-20 12-13L11-7Q3-3-5-8Z"/>
<path style="fill:#262421" d="M6-16L13-15L11-11L6-12Z"/>
<path class="comic-detail" d="M-5-22V-19M3-23V-20M0-8Q4-6 7-8"/>
<path style="fill:none;stroke:#38bccc;stroke-width:4" d="M-7-4L8-4"/>
<path style="fill:#e5c64c" d="M0-3L4 1L0 5L-4 1Z"/>
</g>
