<g class="comic-costume hobbes" stroke="#292323" stroke-width="1.2" stroke-linejoin="round">
  <path class="tiger-tail" d="M7 13Q29 31 25 6Q23-2 18 3"/>
  <path fill="#efa23c" d="M-6-7Q-13 3-8 19H8Q13 3 6-7Z"/>
  <ellipse fill="#fff0d1" cy="7" rx="5" ry="11"/>
  <path class="comic-detail" d="M-9-1L-4 1M9-1L4 1M-10 6L-5 7M10 6L5 7M-9 13L-5 14M9 13L5 14M19 23L23 18M24 12L28 11M20 1L22 6"/>
  <circle fill="#efa23c" cx="-8" cy="-25" r="4"/><circle fill="#efa23c" cx="8" cy="-25" r="4"/>
  <ellipse fill="#efa23c" cy="-16" rx="11" ry="12"/>
  <path class="comic-detail" d="M-5-26L-3-21M0-28V-22M5-26L3-21M-11-18L-6-16M11-18L6-16M-11-12L-7-11M11-12L7-11"/>
  <ellipse fill="#fff0d1" cy="-10" rx="7" ry="5"/>
  <path fill="#292323" d="M-3-13H3L0-10Z"/>
  <path class="comic-detail" d="M-4-19V-17M4-19V-17M0-10V-7M-3-7Q0-5 3-7"/>
</g>
