body{
    margin: 0px;
}
#work{
    background-image: url('./assests/me.jpg.sb-018b27b0-Qla1hj');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0%;
    bottom: 0%;
    height: 100vh;
    z-index: -10;
}